*{
  box-sizing:border-box;
}

/*resets*/
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
  }
a{
  text-decoration: none;
}

/*GENERALES*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.titulo{
  margin: 2%;
  color: white;
  font-size: 30px;
  align-self: flex-start;
}

/*ESTILO MOBILE*/
/*header*/
header{
  margin-left: 2%;
}
.logoytitulo{
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo-header{
  width: 50px;
}
.buscador{
  margin: 2%;
}
.buscadorTexto{
  font-size: 12px;
  margin: 1%;
  width: 70%;
  }

.boton_search{
  font-size: 10px;
  text-align: center;
  }

.botonMasPeliculas{
  margin-left: 5%;
  font-size: 10px;
}

/*footer*/
.main-footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:white;
  margin-bottom: 2%;
  border-top:solid 1px white;
  text-align:center;
}
.logo-footer{
  margin: 2%;
  width: 40px;
}
.derechos{
  font-size: 8px;
}
.nombres_developers{
  font-size: 10px;
}
.icons-redes{
  flex-direction:row;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icons-redes li{
  margin: 0 10px;
}
.ion-social-facebook{
  width: 20%;
  color: white;
  font-size: 10px;
}
.ion-social-linkedin{
  width: 20%;
  color: white;
  font-size: 10px;
}
.ion-social-instagram{
  width: 20%;
  color: white;
  font-size: 10px;
}

/*TARJETAS*/
.peliculas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.movie-card{
  font-size: 14px;
  color: white;
  background-color: #1f1f1f;
  margin: 10%;
}
.movie-card img{
width:100%
}
.card-content{
margin: 2%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
}

.borrarYVerMas{
  text-decoration: none;
  font-size: 12px;
  margin: 2%;
}

.verMas{
  width: 100%;
}

.nombrePelicula{
  font-size: 15px;
}

.descripcionPelicula{
  font-size: 12px;
}

/*ESTILO DESKTOP*/
@media (min-width: 1024px) {

/*GENERALES*/
.titulo{
  font-size: 40px;
}

/*header*/
.logo-header{
  width: 100px;
}
.buscadorTexto{
  width: 50%;
  font-size: 15px;
}
.boton_search{
  font-size: 10px;
}
/*footer*/
.logo-footer{
  width: 100px;
}
.derechos{
  font-size: 15px;
}
.nombres_developers{
  font-size: 20px;
}
.ion-social-facebook{
  font-size: 30px;
}
.ion-social-linkedin{
  font-size: 30px;
}
.ion-social-instagram{
  font-size: 30px;
}

/*TARJETAS*/
.peliculas{
  margin: 3%;
  margin-top: 1%;
}

.listapeliculas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movie-card{
  width: 45%;
  font-size: 14px;
  color: white;
  background-color: #1f1f1f;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  
}
.card-content{
  margin: 2%;
}
.card-content img{
width: 100%;
}
.nombrePelicula{
  font-size:20px;
}
.descripcionPelicula{
  font-size: 15px;
}
.botonMasPeliculas{
  margin-left: 5%;
  font-size: 15px;
}
.borrarYVerMas{
  font-size: 15px;
}
}